body{
    background: rgb(216, 209, 209);
}
.container-form{
    margin: 0 auto;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 5px 25px rgba(0,0,0,0.05);
        padding-bottom: 20px;
        height: fit-content;
}
h2{
    text-align: center;
    text-transform: uppercase;
}
img{
    margin-left: 38%;
    margin-top: 5px;
}
label,input,p{
    margin-left: 15px;
}
input{
    height: 20px;
}
h1{
    text-align: center;
}
